<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/base}">
<head>
<meta charset="UTF-8">
<title>검색 결과</title>
<link rel="stylesheet" th:href="@{/css/list.css}"
	layout:fragment="styles">
<link rel="stylesheet" th:href="@{/css/search.css}"
	layout:fragment="styles">


<script th:src="@{/js/list.js}"></script>
</head>
<body>
	<div layout:fragment="content">
		<div style="margin-top: 20px;"></div>
		<div th:replace="~{search/search :: searchBar}"></div>
		<div th:if="${#lists.isEmpty(searchResults)}">
			<h1 style="text-align: center;">등록된 레시피가 없습니다.</h1>
		</div>

		<div th:if="${!#lists.isEmpty(searchResults)}">
			<div class="cook-list">
				<div th:each="cook : ${searchResults}" class="cook-item clickable"
					th:data-recipe-id="${cook.recipeId}"
					th:data-recipe-title="${cook.title}"
					th:onclick="'redirectToInfo(' + ${cook.recipeId} + ')'">
					<div class="cook-image">
						<img th:src="${cook.completeImgUrl}" th:alt="${cook.title}">
					</div>
					<div class="cook-info">
						<div class="cook-name" th:text="${cook.title}"></div>
					</div>
				</div>
			</div>
		</div>
		<script th:src="@{/js/list.js}" layout:fragment="scripts"></script>
		<script th:src="@{/js/search.js}" layout:fragment="scripts"></script>
		<script th:inline="javascript">
			var contextPath = /*[[@{/}]]*/'';
			function redirectToInfo(recipeNo) {
				window.location.href = '/list/details?recipeId=' + recipeNo;
			}
		</script>
	</div>
</body>
</html>