<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>검색 결과</title>
    </head>
<body>
    <div style="margin-top: 20px;"></div>

    <div th:if="${#lists.isEmpty(searchResults)}">
        <h1 style="text-align: center;">등록된 레시피가 없습니다.</h1>
    </div>

    <div th:if="${!#lists.isEmpty(searchResults)}">
        <div class="cook-list">
            <div th:each="cook : ${searchResults}" class="cook-item clickable"
                 th:onclick="'redirectToInfo(' + ${cook.cook_no} + ', \'' + ${cook.CKG_NM} + '\')'">
                <div class="cook-image">
                    <img th:src="@{'/libraryUploadImg/' + ${cook.CKG_IMG_URL}}" 
                         alt="${cook.CKG_NM}">
                </div>
                <div class="cook-info">
                    <div class="cook-name" th:text="${cook.CKG_NM}"></div>
                    <div class="read-count" th:text="${cook.read_count + ' views'}"></div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>