<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<body>
    <div th:fragment="searchBar">
        <div class="search-container">
            <form id="searchForm"
                  th:action="@{/list/search}" method="get"
                  class="search-form">
                <textarea name="word" id="word" placeholder="검색어를 입력해 주세요."
                          class="search-textarea" onkeydown="fnEnterkey(event)" th:text="${word}"></textarea>
                <img th:src="@{/img/search-icon.png}" alt="검색" class="search-image" onclick="submitSearchForm(event)" />
            </form>
            <input type="hidden" name="userid" th:value="${loginedMemberVo != null ? loginedMemberVo.userid : ''}" id="userId" />
            <a href="javascript:void(0);" onclick="checkLoginBeforeRegister()"> 
                <img th:src="@{/img/register-icon.png}" alt="등록" class="search-image" />
            </a>
        </div>
    </div>
</body>
</html>