<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<body>
    <div th:fragment="footer">
        <footer>
            <div id="footer_wrap">

                <div class="office_info">
                    <h3>회사 정보</h3>
                    <ul>
                        <li>요리레시피를 만드는 사이트를 운영합니다</li>
                        <li><a href="https://www.10000recipe.com/" target="_blank"
                            rel="noopener noreferrer">벤치마크 사이트(만개의 레시피)</a></li>
                        <li>문의 전화 : 010-1234-1234</li>
                        <li>문의 메일 : <a href="mailto:asdf123@recipe.com">asdf123@recipe.com</a></li>
                        <li>주소 : 인천일보 아카데미</li>
                    </ul>
                </div>

                <div class="social_media">
                    <h3>소셜 미디어</h3>
                    <ul>
                        <li><a href="https://www.facebook.com/" target="_blank"
                            rel="noopener noreferrer">Facebook</a></li>
                        <li><a href="https://twitter.com/" target="_blank"
                            rel="noopener noreferrer">Twitter</a></li>
                        <li><a href="https://www.instagram.com/" target="_blank"
                            rel="noopener noreferrer">Instagram</a></li>
                    </ul>
                </div>

                <div class="legal_info">
                    <h3>법적 정보</h3>
                    <ul>
                        <li><a th:href="@{/terms}" target="_blank">이용 약관</a></li>
                        <li><a th:href="@{/privacy-policy}" target="_blank">개인정보 처리방침</a></li>
                    </ul>
                </div>

            </div>
            <div id="footer_bottom">
            <a th:href="@{/cloudinary/uploadForm}">&copy; 푸드코드. All rights reserved.</a>
                <!-- <p>&copy; 푸드코드. All rights reserved.</p> -->
            </div>
        </footer>
    </div>
</body>
</html>