<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/base}">

<head>
<title>레시피 등록</title>
<link rel="stylesheet" th:href="@{/css/register.css}"
	layout:fragment="styles">
</head>

<body>
	<div layout:fragment="content">
		<h1 class="page-title">레시피 등록</h1>

		<form th:action="@{/list/register}" method="post"
			enctype="multipart/form-data">
			<!-- 제목 -->
			<div class="form-group">
				<label for="title">레시피 제목</label> <input type="text" id="title"
					name="title" placeholder="예) 된장찌개" required>
			</div>

			<!-- 요리 종류 -->
			<div class="form-group">
				<label for="kind">요리 종류</label> <select name="kind" id="kind"
					required>
					<option value="1">한식</option>
					<option value="2">중식</option>
					<option value="3">일식</option>
					<option value="4">양식</option>
					<option value="5">기타</option>
				</select>
			</div>

			<!-- 재료 그룹 -->
			<section>
				<h2>재료</h2>
				<div id="materialGroupContainer">
					<div class="material-group">
						<div class="material-list">
							<div class="material-row">
								<input type="text" name="material_name[]" placeholder="재료명"
									required> <input type="text" name="material_amount[]"
									placeholder="수량 (예: 100g)" required>
								<button type="button" onclick="removeRow(this)">-</button>
							</div>
						</div>
						<button type="button" id="btnAddMaterialRow" class="add-button">+
							재료 추가</button>
					</div>
				</div>
			</section>

			<!-- 요리 순서 -->
			<section>
				<h2>요리 순서</h2>
				<div id="stepContainer">
					<div class="step-item">
						<label>Step 1</label>
						<textarea name="step_text[]" placeholder="예) 양파를 썰어주세요." required></textarea>
						<input type="file" name="step_photo_1"
							accept=".jpg,.jpeg,.png,.gif">
					</div>
				</div>
				<button type="button" id="btnAddStep">+ 요리 순서 추가</button>
			</section>

			<!-- 요리 팁 -->
			<section>
				<h2>요리 팁 / 주의사항</h2>
				<textarea name="tip" placeholder="예) 소금보다 설탕을 먼저 넣어야 육질이 부드러워요."
					rows="5" style="width: 100%; resize: none;"></textarea>
			</section>

			<!-- 완성 사진 -->
			<section>
				<h2>완성 사진</h2>
				<input type="file" name="complete_photo"
					accept=".jpg,.jpeg,.png,.gif">
			</section>

			<!-- 버튼 -->
			<div class="regi2_btn3">
				<div class="regi2_btn3_in">
					<a href="javascript:void(0);" onclick="history.back();"
						class="regi2_btn3_cancel">작성취소</a>
				</div>
				<div class="regi2_btn3_in">
					<a href="javascript:void(0);" onclick="doSubmit('save')"
						class="regi2_btn3_save">저장하기</a> <a href="javascript:void(0);"
						onclick="doSubmit('save_public')" class="regi2_btn3_open">저장 후
						공개하기</a>
				</div>
			</div>
		</form>

		<script th:src="@{/js/register.js}" layout:fragment="scripts"></script>
	</div>
</body>
</html>
