<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>받은 쪽지함</title>
<script th:inline="javascript">
	var contextPath = /*[[@{/}]]*/ '';

	// 메시지 상세 페이지로 리디렉션하는 함수
	function redirectToInfo(messageNo) {
		window.location.href = contextPath + "message/messageDetail?message_no=" + messageNo;
	}
</script>
<script th:src="@{/js/message.js}"></script>
<link rel="stylesheet" th:href="@{/css/message.css}">
</head>
<body>
	<div style="margin-top: 20px;"></div>
	<div class="blank_bottom"></div>
	<h1>받은 쪽지함</h1>
	<div class="blank_bottom"></div>
	<div class="message-actions">
		<div class="left-actions">
			<a th:if="${loginedMemberVo.userid != 'admin'}"
				class="message-create clickable" th:href="@{/message/messageSendForm(get_id='admin')}">관리자에게 문의 하기</a>
			<a class="message-create clickable" th:href="@{/message/messageSendForm}">쪽지 작성</a>
		</div>
		<div class="right-actions">
			<a class="message-create clickable" th:href="@{/message/sendMessageList}">보낸 쪽지함</a>
		</div>
	</div>

	<div class="message-list">
		<div th:each="message : ${messageList}" class="message-item">
			<div class="message-details">
				<span class="sender" th:text="${message.send_id_name}"></span> <span
					class="title clickable" th:onclick="'redirectToInfo(\'' + ${message.message_no} + '\')'">
					<strong><span th:text="${message.title}"></span></strong>
				</span> <span class="date" th:text="${#strings.substring(message.send_date, 5, 10)}"></span>
			</div>
		</div>
	</div>

	<div class="pagination">
		<a th:if="${currentPage > 1}" th:href="@{/message(page=1)}">첫 페이지</a>
		<a th:if="${currentPage > 1}" th:href="@{/message(page=${currentPage - 1})}">« 이전</a>

		<span th:each="i : ${#numbers.sequence(1, totalPages)}">
			<span th:if="${i == currentPage}" class="current" th:text="${i}"></span>
			<a th:if="${i != currentPage}" th:href="@{/message(page=${i})}" th:text="${i}"></a>
		</span>

		<a th:if="${currentPage < totalPages}" th:href="@{/message(page=${currentPage + 1})}">다음 »</a>
		<a th:if="${currentPage < totalPages}" th:href="@{/message(page=${totalPages})}">마지막 페이지</a>
	</div>
</body>
</html>